* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    
}
    
.container {
    max-width: 450px ;
    margin: 100px auto;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.tabs {
    display: flex;
    margin-bottom: 20px;
    
}
        
.tabs button {
    border-radius: 0;
    padding: 20px;
    color: black;
    font-size: 18px;
    font-weight: bold;
    flex: 1;
    
}
        
.tabs button:not(.active) {
    background-color: #e2e2e2;
    color: #888;
    
}
        
.tabs button.active {
        
    background-color: white;
}
    
.form {
    display: flex;
    flex-direction: column; 
    padding: 20px;
}

.form-row {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    
}
        
.form-row label {
        
    margin-bottom: 5px;
}
    
.form-row input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    
}
        
button {
    padding: 15px;
    border-radius: 5px;
    border: none;
    background-color: #1E88E5;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    
}
    
button:hover {
    background-color: #1565C0;
}

.error-message {
    color: #a53232;
    margin-top: 5px;
    font-size: 13px;
}

.hidden {
    display: none;
}